@import url("./fonts.css");
@import "tailwindcss";

@theme {
  --color-c-periwinkle: #ccccff;
  --colorc-portage: #9999ff;
  --color-c-medium-purple: #9966ff;
  --color-c-electric-violet: #9933ff;
  --color-c-dark: #1a0a2e;
  --font-sans: "Satoshi", sans-serif;
  --font-serif: "Lora", serif;
  --font-satoshi: "Satoshi", sans-serif;
  --font-lora: "Lora", serif;
}

@utility btn-primary {
  background: var(--color-c-electric-violet);
  font-family: var(--font-satoshi);
  font-weight: 700;
  border-radius: 12px;
  padding: 5px 10px;
}

@utility form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  transition: transform 0.15s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

button:active {
  transform: scale(0.92);
}
